extends layout

block content
  h1= title
  p Welcome to the mattress pug
  div(class="container-fluid")
        div(class="row")
            -
                let mattress = [
                    {
                        "brand": "centuary",
                        "material": "cotton",
                        "cost": "Ten USD"
                    },
                    {
                        "brand": "sleepwell",
                        "material": "cotton",
                        "cost": "Twelve USD"
                    },
                    {
                        "brand": "relaxo",
                        "material": "cotton",
                        "cost": "nine USD"
                    },                   
                ]
            each v,index in mattress
                div(class="col-sm-2") #{v.brand}
                div(class="col-sm-2") #{v.material}
                div(class="col-sm-2") #{v.cost}